{% extends "./base.html" %}

{% load bootstrap_icons %}

{% block title %}Categorías{% endblock %}

{% block content %}
<div class="row mt-3 mb-4">
    <div class="col-md-12">
        <h2>
            Categorías
        </h2>
    </div>
</div>

<div class="row mb-3">
  <div class="col">
    <a class="btn btn-success" href="/categorias/alta">
      {% bs_icon 'plus-lg' %} Nueva categoría
    </a>
  </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              {% for categoria in object_list %}
              <tr>
                <td>{{ categoria.nombre }}</td>
                <td>
                  <div class="btn-group">
                    <a href="/categorias/detalle/{{categoria.id}}" title="Detalle" type="button" class="btn btn-sm btn-primary">
                      {% bs_icon 'eye' %} Detalle
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}